@import url(http://fonts.googleapis.com/css?family=The+Girl+Next+Door);
#content {
  overflow-y: scroll;
  /*position:relative;*/

}
*,
*.focus {
  outline: none !important;
}
#site-header {
  margin: 0px;
  margin-bottom: 20px;
  padding: 5px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  color: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  background: ;
  background: #4679bd;
}
#site-header .navigation-btn {
  background: #3966a1;
  border-color: #305587;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
#site-header #site-logo {
  height: 20px;
  display: block;
  margin: 5px auto 0px auto;
}
#site-container {
  border: 1px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  padding: 20px;
  background: white;
}
.navbar-brand {
  /*font-family: 'The Girl Next Door', cursive;
        font-size:175%;
        font-weight:bold;
        color:white;*/

}
.page-animation.ng-enter,
.page-animation.ng-leave {
  -webkit-transition: 0.35s linear all;
  -moz-transition: 0.35s linear all;
  -o-transition: 0.35s ease-in-out all;
  transition: 0.35s linear all;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.page-animation.ng-enter {
  z-index: 100;
  top: 600px;
  opacity: 0;
}
.page-animation.ng-enter.ng-enter-active {
  top: 0;
  opacity: 1;
}
.page-animation.ng-leave {
  z-index: 101;
  top: 0;
  opacity: 1;
}
.page-animation.ng-leave.ng-leave-active {
  top: -600px;
  opacity: 0;
}
/* Default demo styles */
.snap-content {
  background: #f6f6f6;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  color: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
.snap-drawers {
  /*background-image: url(images/grey_wash_wall.png);
    color: white;*/

  background: #eeeeee;
}
.btn i {
  margin-right: 5px;
}
.data-container {
  margin-top: 20px;
  background: #fff;
  /*min-height: 450px;*/

  padding: 20px;
  position: relative;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}
#site-footer {
  color: #928D85;
  text-align: center;
  background: #eeeeee;
  padding: 20px;
  margin: 0px;
  margin-top: 50px;
  -webkit-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.15),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.15),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.15),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  color: 0px -1px 5px rgba(0, 0, 0, 0.15),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.sponsors {
  text-align: center;
}
.sponsors img {
  margin: 5px;
  max-height: 64px;
  max-width: 96px;
}
.form-control {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);;
  color: 0 1px 5px rgba(0, 0, 0, 0.1);;
  border: none;
}
.form-control:focus {
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);;
  color: 0 1px 5px rgba(0, 0, 0, 0.2);;
  border: none;
}
#show-settings-btn,
#show-metadata-btn {
  position: absolute;
  height: 50px;
  padding: 10px;
  line-height: 35px;
  color: #908c83;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #cccccc;
  top: 0px;
  border-top: none;
}
#show-settings-btn i,
#show-metadata-btn i {
  font-size: 150%;
  margin-right: 5px;
  display: inline-block;
}
#show-settings-btn span,
#show-metadata-btn span {
  display: inline-block;
}
#show-settings-btn {
  left: 0px;
  border-left: none;
  -webkit-border-radius: 0px 0px 4px 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px 0px 4px 0px;
  -moz-background-clip: padding;
  border-radius: 0px 0px 4px 0px;
  background-clip: padding-box;
}
#show-metadata-btn {
  right: 0px;
  border-right: none;
  -webkit-border-radius: 0px 0px 0px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px 0px 0px 4px;
  -moz-background-clip: padding;
  border-radius: 0px 0px 0px 4px;
  background-clip: padding-box;
}
.operation-btn {
  height: 40px;
  padding: 0px;
  width: 100%;
}
button i {
  margin-right: 5px;
}
#modal-url-settings {
  padding-top: 20px;
}
section.nice-panel {
  margin: 10px 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.1);
  color: 0 1px 2px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.1);
  background: white;
}
section.nice-panel header {
  background: #f9f9f9;
  padding: 5px;
  border-bottom: 1px dashed #e5e5e5;
}
section.nice-panel header i {
  color: #e5e5e5;
  font-size: 150%;
}
section.nice-panel header h3 {
  display: inline-block;
  margin: 0px;
  margin-left: 5px;
  color: rgba(128, 128, 128, 0.5);
  font-size: 100%;
  font-weight: bold;
}
section.nice-panel > div {
  padding: 20px;
}
ul.odata-links button.close {
  display: none;
  color: gray;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
ul.odata-links button.close:hover {
  color: #D74B4B;
}
ul.odata-links li:hover button.close {
  display: block;
}
ul.odata-links li {
  border-left: 3px solid #e5e5e5;
  background: #f9f9f9;
  padding: 5px;
  color: gray;
  cursor: pointer;
}
ul.odata-links li:not(:last-child) {
  margin-bottom: 10px;
}
#modal-about section header {
  background: #f9f9f9;
  padding: 10px;
  border-bottom: 1px dashed #e5e5e5;
  color: rgba(128, 128, 128, 0.5);
  font-size: 150%;
  font-weight: bold;
}
#modal-about .members-list {
  padding: 0px;
}
#modal-about .members-list li {
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0px 2px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.1);
  color: 0 0px 2px rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.1);
  background: white;
  margin: 10px 0px;
  padding: 5px;
}
#modal-about .members-list li .linked-in {
  text-decoration: none !important;
  font-size: 75%;
  display: block;
  text-align: center;
  margin-top: 5px;
  color: gray;
}
#modal-about .members-list li .linked-in i {
  font-size: 150%;
  margin-right: 5px;
  color: #1D87BE;
}
#modal-about .members-list img {
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  padding: 5px;
  border: 1px solid #e5e5e5;
}
#loading-spinner {
  position: fixed;
  z-index: 100;
  bottom: -1px;
  right: -1px;
  text-align: center;
}
#loading-spinner div {
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px 0px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px 0px 0px 0px;
  -moz-background-clip: padding;
  border-radius: 5px 0px 0px 0px;
  background-clip: padding-box;
  background: white;
  background: #4679bd;
  padding: 10px;
}
#loading-spinner i {
  font-size: 32px;
  color: gray;
  color: rgba(70, 121, 189, 0.25);
  color: white;
}

