<div style="position: relative; height: 100%;">
    <div class="snap-drawers">
        <div class="snap-drawer snap-drawer-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header>
                            <h2>Settings</h2>
                        </header>
                        <hr />

                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="url" ng-model="currentLink" />
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-success form-control" ng-click="changeDataUrl(currentLink)">Go</button>
                            </div>

                        </form>

                        <hr />

                        <ul id="history-links" class="list-unstyled">

                            <li ng-repeat="link in historyLinks" style="position: relative;">

                                <button ng-click="removeHistoryLink(link);" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                                <!--ng-class="{'active':isSelectedLink(link)}"-->
                                <div class="alert alert-warning alert-dismissable" ng-click="changeDataUrl(link);">
                                    <span>{{link}}</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="snap-drawer snap-drawer-right">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header>
                            <h2>Meta-Data</h2>
                        </header>

                        <hr />
                        <a data-toggle="modal" href="#metadata-graph-modal" class="btn btn-primary btn-lg">View Meta-Data Graph</a>
                        <hr />

                        <tree-view source-data="metadata"></tree-view>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="snap-content">

        <button id="show-settings-btn" ng-click="showSettings()"><i class="icon-gear"></i><span>Settings</span></button>
        <button id="show-metadata-btn" ng-click="showMetaData()"><i class="icon-list-ul"></i><span>Meta-Data</span></button>


        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div id="site-logo">
                        <img class="img-responsive" src="resources/app-logo.png" />
                    </div>

                </div>
            </div>

            <hr />


            <div class="row text-muted">
                <div class="col-md-12">
                    <label><small>Current URL:</small></label>
                    <a href="{{currentLink}}" target="_blank"><strong>{{currentLink}}</strong></a> &nbsp;
                </div>
            </div>


            <form role="form" class="row" style="margin-bottom: 0px;">

                <div class="form-group col-md-12" style="position: relative;">
                    <i ng-show="isLoadingData" id="data-load-spinner" class="icon-spinner icon-spin"></i>
                    <intellisense on-submit="onIntellisenseSubmit(query)" metadata="metadata" model="intellisenseQuery" />
                </div>

             <!--   <div class="form-group col-md-1">
                    <button type="button" class="btn btn-block btn-primary" ng-click="loadData();">Go</button>
                </div>-->

            </form>




            <div class="row">
                <div class="col-md-12">
                    <div id="data-container">


                        <div class="btn-group pull-right" data-toggle="options">
                            <label class="btn btn-default">
                                <input ng-model="dataViewType" value="json" type="radio" name="options">
                                JSON
                            </label>
                            <label class="btn btn-default">
                                <input ng-model="dataViewType" value="table" type="radio" name="options">
                                Table
                            </label>
                        </div>

                        <h4 class="pull-left">Data as {{dataViewType}}</h4>

                        <div class="clearfix"></div>
                        <hr />

                        <div ng-show="(dataViewType == 'json')">
                            <div json-view model="jsonData"></div>
                        </div>

                        <div class="gridStyle" ng-show="(dataViewType == 'table')" ng-grid="gridOptions"></div>




                        <!-- ng-show="(dataViewType == 'json')" 
                        
                        -->


                    </div>
                </div>
            </div>
        </div>




        <footer id="site-footer">

            <div class="sponsors">
                <a href="http://e4d.co.il">
                    <img src="resources/e4d-logo.png" /></a>
                <a href="http://tsofen.org">
                    <img src="resources/tsofen-logo.png" /></a>
            </div>

            <div>
                Project maintained by ODataTools Team ● Visit us on <a href="http://hasanaboshally.github.io/OData/">Github</a> ● Follow us on <a href="http://twitter.com/OData/">Twitter</a> ●
            <br />
                Visit our <a href="http://odataGallery.com">OData Providers Gallery </a>
                <br />
                2013 ©
            <!--NO-->
                All rights reserved
            </div>

        </footer>


    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="metadata-graph-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>-->
            <div class="modal-body">
                <div graph-view source-data="metadata"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Export</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
