<div style="position: relative; height: 100%;">
    <div class="snap-drawers">
        <div class="snap-drawer snap-drawer-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" id="settings">


                        <section>

                            <header>
                                <i class="icon-link"></i>
                                <h3>URL</h3>
                            </header>
                            <div>
                                <form role="form" class="container" style="margin-bottom: 0px">

                                    <div class="form-group row">

                                        <div class="col-md-9">

                                            <input id="new-url-input" type="text" class="form-control" placeholder="url" ng-model="currentLink" />
                                        </div>

                                        <div class="col-md-3">
                                            <button id="new-url-btn" type="button" class="btn btn-success form-control" ng-click="changeDataUrl(currentLink)">Go</button>

                                        </div>



                                    </div>

                                    <div class="form-group">
                                    </div>

                                </form>
                            </div>
                        </section>

                        <section>

                            <header>
                                <i class="icon-columns"></i>
                                <h3>Data View Type</h3>
                            </header>
                            <div>

                                <div class="radio">
                                    <label>
                                        <input ng-model="dataViewType" value="xml" type="radio" name="options">
                                        XML
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input ng-model="dataViewType" value="json" type="radio" name="options">
                                        JSON
                                    </label>
                                </div>



                                <div class="radio">
                                    <label>
                                        <input ng-model="dataViewType" value="table" type="radio" name="options">
                                        Table
                                    </label>
                                </div>

                            </div>
                        </section>

                        <section>
                            <header>
                                <i class="icon-list"></i>
                                <h3>History</h3>
                            </header>
                            <div>
                                <ul class="list-unstyled odata-links">

                                    <li ng-repeat="link in historyLinks" style="position: relative;">

                                        <button ng-click="removeHistoryLink(link);" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                                        <!--ng-class="{'active':isSelectedLink(link)}"-->
                                        <div class="alert-dismissable" ng-click="changeDataUrl(link);">
                                            <span>{{link}}</span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </section>

                        <section>
                            <header>
                                <i class="icon-rocket"></i>
                                <h3>Sample URLs</h3>
                            </header>
                            <div>
                                <ul class="list-unstyled odata-links">

                                    <li ng-repeat="link in sampleLinks" style="position: relative;">

                                        <div class="alert-dismissable" ng-click="changeDataUrl(link);">
                                            <span>{{link}}</span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </section>



                    </div>
                </div>
            </div>
        </div>
        <div class="snap-drawer snap-drawer-right">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--                        <header>
                            <h2>Meta-Data</h2>
                        </header>

                        <hr />-->

                        <tree-view source-data="metadata"></tree-view>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="snap-content">

        <header id="site-header" class="row">

            <div class="col-md-5">
                <button id="settings-btn" ng-click="showSettings()" class="btn navigation-btn pull-left">Settings</button>
            </div>

            <div class="col-md-2">
                <img id="site-logo" class="img-responsive" src="resources/app-logo.png" />
            </div>

            <div class="col-md-5">
                <a data-toggle="modal" href="#modal-about" class="btn navigation-btn pull-right">About</a>

                <button ng-click="showHelp()" class="btn navigation-btn pull-right">Help</button>


                <button style="margin-right: 20px;" ng-show="metadata" ng-click="showMetaData()" class="btn navigation-btn pull-right">Metadata</button>

            </div>

        </header>

        <div class="container">
            <div class="row text-muted">
                <div class="col-md-12">
                    <label><small>Current URL:</small></label>
                    <a href="{{currentLink}}/{{intellisenseQuery}}" target="_blank"><strong>{{currentLink}}/{{intellisenseQuery}}</strong></a> &nbsp;
                </div>
            </div>

            <form role="form" class="row" style="margin-bottom: 0px; margin-top: 20px;">

                <div class="form-group col-md-10 " style="position: relative;">
                    <intellisense on-submit="onIntellisenseSubmit(query)" metadata="metadata" model="intellisenseQuery" />
                </div>

                <div class="col-md-2">
                    <button type="button" class="form-control operation-btn btn-success" ng-click="loadData();"><i class="icon-paste"></i>Show Data</button>
                </div>

            </form>


            <div class="row" ng-show="($scope.jsonData || ($scope.xmlData && $scope.xmlData != ''))">
                <div class="col-md-12">
                    <div class="data-container">

                        <div ng-show="(dataViewType == 'json')">
                            <div json-view model="jsonData"></div>
                        </div>

                        <div class="gridStyle" ng-show="(dataViewType == 'table')" ng-grid="gridOptions"></div>


                        <section ng-show="(dataViewType == 'xml')">

                            <div xml-view model="xmlData"></div>

                        </section>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="data-container">
                        <div graph-view source-data="metadata"></div>
                    </div>
                </div>
            </div>


        </div>



        <footer id="site-footer">

            <div class="sponsors">
                <a href="http://odatatools.org">
                    <img style="max-width: 120px;" src="resources/odatatools-logo.png" /></a>
                <a href="http://e4d.co.il">
                    <img src="resources/e4d-logo.png" /></a>
                <a href="http://tsofen.org">
                    <img src="resources/tsofen-logo.png" /></a>


            </div>

            <div>
                Project maintained by ODataTools Team ● <a href="http://hasanaboshally.github.io/OData/">Github</a> ● <a href="http://twitter.com/OData/">Twitter</a>
                | 
                2013 ©  All rights reserved
              
            </div>

        </footer>


    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>-->
            <div class="modal-body">
                <img style="display: block; width: 50%; margin: 20px auto;" src="resources/app-color-logo.png" />

                <hr />

                <p>
                    The Open Data Protocol (OData) is a Web protocol for querying and updating data that provides a way to unlock your data and free it from silos that exist in applications today.OData does this by applying and building upon Web technologies such as HTTP, Atom Publishing Protocol (AtomPub) and JSON to provide access to information from a variety of applications, services, and stores.

                </p>


                <hr />

                <!--                <section class="mentors">

                    <ul class="members-list list-unstyled container">
                        <li class="row">

                            <div class="col-md-3">
                                <img class="img-responsive" src="resources/photos/eyal.jpg" />
                                <a class="linked-in" href="http://www.linkedin.com/profile/view?id=18109570" target="_blank"><i class="icon-linkedin-sign"></i>LinkedIn</a>
                               
                                
                            </div>
                            <div class="col-md-9">
                                <label>Eyal Vardi (Mentor)</label>
                                <br />
                                <p>
                                    Eyal has a <a href="http://dataservicestool.codeplex.com/">windows based application for viewing OData</a>, and he came up with the idea of making a web-based application for helping developers using OData.<br />Eyal mentored the project and helped the team with several technical issues.
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>-->

                <section class="team">
                    <!--                    <header>
                        Team
                    </header>-->

                    <ul class="members-list list-unstyled container">
                        <li ng-repeat="member in team" class="row">

                            <div class="col-md-3">
                                <img class="img-responsive" ng-src="{{member.photoUrl}}" />
                                <a ng-show="member.linkedin" class="linked-in" href="{{member.linkedin}}" target="_blank"><i class="icon-linkedin-sign"></i>LinkedIn</a>

                            </div>
                            <div class="col-md-9">
                                <label>{{member.name}}</label>

                                <p>
                                    {{ member.description}}
                                </p>
                            </div>


                        </li>
                    </ul>
                </section>
                <hr />


                <section class="sponsors">
                    <header>
                        Sponsors
                    </header>
                    <a href="http://odatatools.org">
                        <img style="max-width: 120px;" src="resources/odatatools-logo.png" /></a>
                    <a href="http://e4d.co.il">
                        <img src="resources/e4d-logo.png" /></a>
                    <a href="http://tsofen.org">
                        <img src="resources/tsofen-logo.png" /></a>


                </section>

                <hr />

                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>

            </div>
            <!--        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
